* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


.wrapper {
    background-color: rgb(128, 128, 128);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    width: 840px;
    height: 840px;
    /* border: 3px solid black; */
}

.square {
    background-color: aquamarine;
    border: 1px solid black;
}